* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
}

h1 {
    font-size: xx-large;
}

p,
h2 {
    font-size: x-large;
    text-align: center;
}

ul {
    list-style: none;
}

 li {
    display: inline-block;
    align-items: center;
    margin-top: 25px;
}
.beneficios, .mais{
    background-color: #9dc5df;
}

.beneficios ul {
    columns: 2;
}

.beneficios .mais, ul li{
    border: 2px solid gray;
    border-radius: 15px;
    margin-top: 15px;
}

video {
    width: 100%;
}

.mais ul {
    columns: 2;
}

.flex {
    display: flex;
}

img#logoAcai {
    margin: auto;
    max-width: 285px;
}
.flex-mobile {
    display: flex;
}
@media (max-width: 900px) {
  div.flex-mobile {
    display: block;
  }
}
input, select{
    border-radius: 5px;
}
section{
    padding: 5px;
}