* {
    text-align: justify;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {}

body,
header {
    width: 100%;
}

.inteface {
    display: block;
    margin: auto;
}

a {
    color: white;
}

h1 {
    font-size: xx-large;
}

p,
h2 {
    font-size: x-large;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: inline-flex;
margin: 15px;
}

.beneficios .mais,
ul li {
    border: 2px solid gray;
    border-radius: 15px;
    margin-top: 15px;
}

video {
    width: 100%;
}

.mais ul,
.beneficios ul {
    margin: auto;
    columns: 2;
}

.flex {
    display: flex;
}

.logoAcai {
    display: block;
    margin: auto;
    max-width: 285px;
}

.flex-mobile {
    display: ;
}

@media (max-width: 700px) {
    div.flex-mobile {
        display: block;
        margin: auto;
        width: 100%;
    }

    .mais ul,
    .beneficios ul {
        columns: 1;
    }
}

input,
select {
    border-radius: 5px;
}

section {
    padding: 5px;
    margin: auto;
}
label {
    display: flex;
}
label p{
    text-align: justify;
    font-size: medium;
}