<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="shortcut icon" href="../static/logo Acai.png" type="image/x-icon">
  <title>BOT AÇAI</title>
</head>

<body>
  <img src="../static/logo Acai.png" alt="">
  <div class="interface">
    <h1>Teste o AÇAI BOT sem pagar nada</h1>
    <p>Faça o seu cadastro para testar a Anota AI</p>
    <form action="#">
      <ul>
        <li>
          <label for="nome">Nome:
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome">
          </label>
        </li>
        <li>
          <label for="email">Email:
            <input type="email" id="email" name="email" placeholder="Digite seu email">
          </label>
        </li>
        <li>
          <label for="celular">Celular:
            <input type="tel" id="celular" name="celular" placeholder="Digite seu celular">
          </label>
        </li>
        <li>
          <label for="nome_delivery">Nome do seu delivery:
            <input type="text" id="nome_delivery" name="nome_delivery" placeholder="Digite o nome do seu delivery">
          </label>
        </li>
        <li>
          <label for="quantidade_pedidos">Quantidade de pedidos por dia:
            <select id="quantidade_pedidos" name="quantidade_pedidos">
              <option value="menos_10">Menos de 10</option>
              <option value="mais_10">Mais de 10</option>
            </select>
          </label>
        </li>
        <div>
          <label for="computador">Já tem computador ou notebook?
            <input type="radio" id="computador_sim" name="computador" value="sim" checked> Sim
            <input type="radio" id="computador_nao" name="computador" value="nao"> Não
          </label>
        </div>
      </ul>
      <button type="submit">Enviar</button>
    </form>
  </div>
</body>

</html>