<!DOCTYPE html>
<html lang="pt-br">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="shortcut icon" href="../static/logo Acai.png" type="image/x-icon">
        <title>Sabores de Sorvete</title>
</head>

<body>
        <picture id="logoAcai">
                <a href="../index.html">
                        <img src="/static/logo Acai.png" alt="">
                </a>
                <h1>
                        Um bom motivo para adoçar seu dia
                </h1>
        </picture>
         <button id="btnCardapio">
                <a
                        href="https://api.whatsapp.com/send?phone=553499896614&text=Ol%C3%A1,%20eu%20quero%20fazer%20um%20pedido%20!">
                        Fazer meu pedido
                </a>
        </button>
        <h2 style="text-align: justify;">Sabores de Sorvete</h2>
       <section id="sabores">
        <div id="listaDeSabores">
                <ul>
                        <li>
                                <img src="../static/barra-de-chocolate.png" alt="">
                                Chocolate
                        </li>
                        <li>
                                <img src="../static/baunilha.png" alt="">
                                Baunilha
                        </li>
                        <li>
                                <img src="../static/morango.png" alt="">
                                Morango
                        </li>
                        <li>
                                <img src="../static/floco-de-neve.png" alt="">
                                Flocos
                        </li>
                        <li>
                                <img src="../static/sorvete.png" alt="">
                                Napolitano
                        </li>
                        <li>
                                <img src="../static/coco.png" alt="">
                                Coco
                        </li>
                        <li>
                                <img src="../static/milho.png" alt="">
                                Milho
                        </li>
                        <li>
                                <img src="../static/cookie.png" alt="">
                                Cookies and Cream
                        </li>
                        <li>
                                <img src="../static/doce-de-leite.png" alt="">
                                Doce de leite
                        </li>
                        <li>
                                <img src="../static/fruta-milagrosa.png" alt="">
                                Frutas exóticas
                        </li>
                </ul>
        </div>
       </section>
              <footer style="align-items: center; justify-content: center;">
                <video muted loop autoplay>
                        <source media="(min-width: 501px)" src="../static/AÇAI BOT.mp4"
                                style="video::internal-media-controls{display: ;}">
                        <source media="(max-width: 500px)" src="../static/AÇAI BOT mobille.mp4"
                                style="video::internal-media-controls{display: ;}">
                </video>
                <a href="https://pablo-kennediy.github.io/curriculo/" style="color: black;">infoprodutos.org</a>
                © 2024 | Todos os
                direitos
                reservados
        </footer>
</body>

</html>